* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 150px;
  height: 100%;
  position: fixed;
  background-color: #191718;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li a {
  color: #aaaaaa;
  padding: 14px 91px 11px 16px;
  text-decoration: none;
  display: block;
  font-weight: 700;
  font-size: 16px;
}
.container-content {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}
.container-content .content {
  flex-grow: 1;
  padding-left: 129px;
  padding-right: 129px;
}

.logo-ncc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.content-description {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-content-description {
  padding: 39px 269px;
  text-align: center;
}

.title-content-description {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 18px;
}

.content-description-flex {
  display: flex;
  margin-left: -25px;
  margin-right: -25px;
}

.content-description-flex .container-image-content {
  padding-left: 25px;
  padding-right: 25px;
  line-height: 19px;
}

.content-description-flex .container-image-content .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 18px;
}

.content-description-flex .container-image-content img {
  float: left;
  width: 128px;
  height: 128px;
  margin-right: 16px;
}

.container-content .footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3e3e3e;
  padding: 30px 0;
  border-top: 1px solid #dedede;
   padding-left: 129px;
  padding-right: 129px;
  margin-top: 60px;
}
